@charset 'utf-8';
@import url('https://fonts.googleapis.com/css?family=Montserrat');


//layout
@import 'layout/reset';
@import 'layout/variable';

//components 
@import 'components/_header';
@import 'components/_search';
@import 'components/peoplecard';
@import 'components/button';
@import 'components/detailcard';

//pages
@import 'pages/home';

