a{
    text-decoration: none;
}
.button-wrapper{
    display: flex;
    justify-content: flex-end;
    margin: 0 1em 1em 0;
}
.button{ 
    display: flex;
    justify-content: center;
    background-color: $btn-default-color;
    padding: .6em .8em;
    cursor: pointer;
    border: 0;
    outline: 0;
    border-radius: .2em;
    // box-shadow: 1px  #c4c4c4;

    &:hover{
        color: #fff;
        transform: scale(1.05)
    }
    .more-icon{
        padding-top: .4em;
       
    }
}
.more-wrapper{
    display: flex;
    justify-content: center;
}
.more-button{
   padding: .5em 5em;
   border: .2em  #000 solid ;
   justify-content: center;
   background-color: white;
   outline: 0;
   border-radius: .2em;    
   cursor: pointer;
}