@media screen and (min-width:731px){
.detail-card__wrapper{
    .detail-card__content{
           width: 28%;
    }
}
}
@media screen and (max-width:730px){
    .detail-card__wrapper{
        .detail-card__content{
            width: 80% ;
        }
    }
}
.detail-card__wrapper{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

    .detail-card__content{
     
        margin: 3em 2em;
        padding: 2rem  2rem 0 2rem;
        background-color: $primary-color;
        border-radius: .5em;

    }
    .detail-card__description{
        margin-bottom: .5em;
    }
}