.header {
    display: block;
    width: 100%;
    background-color: $header-color;
    padding: 3rem; 
}
.logo-link{
    cursor: pointer;
}
.hero-image__wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}

@media screen and (min-width: 732px) and (max-width: 811px)  {
    .header{
        height: 73vh;
        .hero-image__wrapper{
            width: 90%;
        }
    }
    .hero-image{
        width: 60%;
    }
}


@media screen and (min-width: 1025px){
    .header {
    height: 65vh;
    }
  .hero-image{
     width: 30%;
    }
}


