.header {
    display: block;
    width: 100%;
    background-color: $header-color;
    padding: 3rem; 
}

.hero-image__wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}

@media screen and (max-width: 1023px){
    .header{
        height: 50vh;
    }
    .hero-image{
        width: 60%;
    }
}

@media screen and (min-width: 1024px){
    .header {
    height: 65vh;
    }
  .hero-image{
     width: 30%;
    }
}


