.search-wrapper{
    width:100%;
    margin-top: 5rem;
    display: flex;
    justify-content: center;
   .search-container{
        display: grid;
        grid-template-columns: 13% 87%;
        width: 60%;
        background: white;
        border-radius: .4em;
        .search-icon__container{
            display: flex;
            justify-content: flex-end;
            .search-icon{
                margin-top: 2rem;
            }
        }
        .search{
            // margin-left: 2em;
            .search-field{
                width: 80%;
                padding: 2rem;
                border: none;
               
                font-size: 2rem;
                font-weight: bold;
                &:focus{
                    outline: none;
                    color: $text-color-dark;
                    
                }
            }
        }
    }

}