.search-wrapper{
    width:100%;
    margin: 5rem 0 2rem 0;
    display: flex;
    justify-content: center;
   .search-container{
        display: grid;
        grid-template-columns: 12% 88%;
        width: 85%;
        max-width: 100%;
        background: white;
        border-radius: .4em;
        .search-icon__container{
            display: flex;
            justify-content: flex-end;
            .search-icon{
                margin-top: 2rem;
                margin-left:1em ;
            }
        }
        .search{
           
            .search-field{
                padding: 2rem;
                border: none;
                width: 85%;
                font-size: 2rem;
                font-weight: bold;
                &:focus{
                    outline: none;
                    color: $text-color-dark;
                    
                }
            }
        }
    }

}