
// main colors
$primary-color:#f0e14a ;
$background-color: #f5f8fa;

$text-color: #ffffff;

$text-color-dark: #636b6f;

//Typography
$font-primary: 'Montserrat',sans-serif;
$font-size-base: 0.875rem;
$line-height-base: 1.6;
$top-heading: 2em;
$base-heading: 1.2em;


$header-color:  #2f9331 ;
$border-color: #e5d29f;
$btn-default-color:#97ce4c;
$input-border: lighten($text-color, 40%);